<div class='index-banner'>
    <div class='index-banner__section left'>
        <div class='index-banner__img'></div>
    </div>

    <div class='index-banner__section right'>
        
        <h3>Phillip D.</h3>
        <span>Front End Engineer</span>

    </div>


</div>
