<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100italic,100,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>


<div id='contact_section'>
    <!--<h1>fD</h1>-->
    <div id='face'></div>

    <div id='name'>Felipe Dominguez</div>
    <div id='position'>Front-End Engineer</div>
    <div id='contact-icons'>
        <ul>
            <li>
                <a href='https://www.linkedin.com/in/felipe-dominguez-69562662'>
                    <i class="fa fa-linkedin fa-lg"></i>
                </a>
            </li>
            <li><a href='https://codepen.io/philgetz/'><i class="fa fa-codepen fa-lg"></i></a></li>
            <li><a href='https://github.com/philgetz'><i class="fa fa-github fa-lg"></i></a></li>
        </ul>
    </div>


    <div id='contact'>
        <a href='mailto:felips.110@gmail.com'><i class="fa fa-envelope-o"></i> felips.110@gmail.com
        </a><a href='mailto:felips.110@gmail.com'><i class="fa fa-mobile fa-lg"></i> (619) 796-1019
    </a>
        {{!-- <ul>
          <li>
             <a href='#'>
               <i class="fa fa-linkedin fa-lg"></i>
             </a>
          </li>
          <li><a href='#'><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href='#'><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul> --}}
    </div>

</div>
