<div id='contact_section'>
    <!--<h1>fD</h1>-->
    <div id='face'></div>

    <div id='name'>Phillip Dominguez</div>
    <div id='position'>Front-End Engineer</div>
    <div id='contact-icons'>
        <ul>
            <li>
                <a href='https://www.linkedin.com/in/phillgetz'>
                    <i class="fa fa-linkedin fa-lg"></i>
                </a>
            </li>
            <li><a href='https://codepen.io/phillgetz/'><i class="fa fa-codepen fa-lg"></i></a></li>
            <li><a href='https://github.com/philgetz'><i class="fa fa-github fa-lg"></i></a></li>
             <li><a href='mailto:phillip.d.jp@gmail.com'><i class="fa fa-envelope fa-lg"></i>
        </a></li>
        </ul>
    </div>


    <div id='contact'>
       

    </div>

</div>
