<div class='social-component'>

    <ul class='social-component__list'>
        <li><a href='https://codepen.io/philgetz/'><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a></li>
        <li><a href='https://www.linkedin.com/in/phillipdom/'><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
        <li><a href='https://github.com/philgetz'><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a></li>
        <li><a href='https://twitter.com/phillgetz'><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
        <li><a href='mailto:phillip.d.jp@gmail.com'><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a></li>
    </ul>

  </div>  

