<div class='social-component'>

    <ul class='social-component__list'>
        <li><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></li>
        <li><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></li>
        <li><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
        <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></li>
    </ul>

  </div>  

